<div>
	<a class="hiddenanchor" id="signup"></a>
	<a class="hiddenanchor" id="signin"></a>

	<div class="login_wrapper">
		<div class="animate form login_form">
			<section class="login_content">
				<div class="form">
					<div class="login-page-border">
						<h1>Kairos Login</h1>
						<div class="loginUserName">
							<input type="text" class="form-control" placeholder="Username" id="userName" required="" />
						</div>
						<div class="loginUserPassword">
							<input type="password" class="form-control" placeholder="Password" id="password" required="" />
						</div>
						<div class="align-right">
							<button class="btn btn-default submit " href="#" id="loginButton" disabled>Log in</button>
						</div>
						<p class="login-authentication-message">user name or password is incorrect</p>
						<!--<div class="clearfix"></div>-->

					</div>
				</div>
			</section>
		</div>
	</div>
</div>jhhgkjhmg